.Icon {
  width: 100%;
  height: 100%;
}

.Icon.hoverable {
  transition: color 500ms ease;
  cursor: pointer;
}

.Icon.primary {
  color: var(--color-primary);
}

.Icon.primary.hoverable:hover {
  color: var(--color-primary-hover);
}

.Icon.lightGray {
  color: var(--color-gray6);
}

.Icon.lightGray.hoverable:hover {
  color: var(--color-gray5);
}
