.Radio {
  display: inline-flex;
  align-items: center;
  color: var(--color-gray4);
}

.Radio:not(.checked):hover {
  color: var(--color-gray3);
}

.Radio span {
  transform: translateY(2px);
  font-size: 1.75rem;
  transition: color 300ms ease;
}

.Radio span:hover {
  cursor: pointer;
}

.Radio label {
  padding-left: 0.1rem;
  transition: color 300ms ease;
}

.Radio label:hover {
  cursor: pointer;
}

.Radio.checked span {
  color: var(--color-primary);
}

.Radio.checked label {
  color: var(--color-black);
}

.group .Radio + .Radio {
  margin-left: 1.25rem;
}
