@import "./reset.css";
@import "./variable.css";

html {
  font-size: var(--base-font-size);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  background-color: var(--color-gray9);
  color: var(--color-black);
}
