@import "./reset.css";
@import "./variable.css";

* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  background-color: var(--color-gray9);
  color: var(--color-black);
}

body,
input,
select,
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
}
