.popupProvider {
  width: 100vw;
  height: 100vh;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
